article {
  margin: 0;
  padding: 0;
}

article > ul {
  width: 100%;
}
article > ul > li {
  list-style: none;
}

#pricing {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  color: #ffffff;
}

#pricing-upfront, #pricing-lease {
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 10px 10px;
  background-color: #171717;
}

.pricing-title {
  text-align: center;
  background-color: #74c877;
  color: #000000;
  margin: 0 0 25px 0;
  padding: 10px 0;
  border-radius: 20px 20px 0 0;
}

.option-price{
  text-align: center;
  color: #74c877;
  font-size: 30px;
  font-weight: bold;
}
  .option-price > span {
    font-size: 14px;
  }

.lease-down-payment {
  text-align: center;
  color: #74c877;
  font-size: 12px;
}

.whats-included{
  margin:20px;
}
